{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block header_img_filename%}Hong-Kong.jpg{% endblock %}

{% block main %}
<h1>Contact</h1>
      
<div class="subheading">Leave a Reply</div>

<p>
  Your email address will not be published. Required fields are marked *
</p>

<form name="contact">
  <div class="input-group row">
    <label>First Name<small>*</small></label>
    <input type="text" name="fname" required>
  </div>
  <div class="input-group row">
    <label>Last Name<small>*</small></label>
    <input type="text" name="lname" required>
  </div>
  <div class="input-group row">
    <label>Email<small>*</small></label>
    <input type="email" name="email" required>
  </div>
  <div class="input-group">
    <label>Comment</label>
    <textarea name="comment"></textarea>
  </div>
</form>
{% endblock main %}
